@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/oxanium";
@import "@fontsource-variable/manrope";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.147 0.004 49.3);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.147 0.004 49.3);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.147 0.004 49.3);
  --primary: oklch(0.852 0.199 91.936);
  --primary-foreground: oklch(0.421 0.095 57.708);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.96 0.002 17.2);
  --muted-foreground: oklch(0.547 0.021 43.1);
  --accent: oklch(0.96 0.002 17.2);
  --accent-foreground: oklch(0.214 0.009 43.1);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0.005 34.3);
  --input: oklch(0.922 0.005 34.3);
  --ring: oklch(0.714 0.014 41.2);
  --chart-1: oklch(0.905 0.182 98.111);
  --chart-2: oklch(0.795 0.184 86.047);
  --chart-3: oklch(0.681 0.162 75.834);
  --chart-4: oklch(0.554 0.135 66.442);
  --chart-5: oklch(0.476 0.114 61.907);
  --radius: 0;
  --sidebar: oklch(0.986 0.002 67.8);
  --sidebar-foreground: oklch(0.147 0.004 49.3);
  --sidebar-primary: oklch(0.681 0.162 75.834);
  --sidebar-primary-foreground: oklch(0.987 0.026 102.212);
  --sidebar-accent: oklch(0.96 0.002 17.2);
  --sidebar-accent-foreground: oklch(0.214 0.009 43.1);
  --sidebar-border: oklch(0.922 0.005 34.3);
  --sidebar-ring: oklch(0.714 0.014 41.2);
}

.dark {
  --background: oklch(0.147 0.004 49.3);
  --foreground: oklch(0.986 0.002 67.8);
  --card: oklch(0.214 0.009 43.1);
  --card-foreground: oklch(0.986 0.002 67.8);
  --popover: oklch(0.214 0.009 43.1);
  --popover-foreground: oklch(0.986 0.002 67.8);
  --primary: oklch(0.795 0.184 86.047);
  --primary-foreground: oklch(0.421 0.095 57.708);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.268 0.011 36.5);
  --muted-foreground: oklch(0.714 0.014 41.2);
  --accent: oklch(0.268 0.011 36.5);
  --accent-foreground: oklch(0.986 0.002 67.8);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.547 0.021 43.1);
  --chart-1: oklch(0.905 0.182 98.111);
  --chart-2: oklch(0.795 0.184 86.047);
  --chart-3: oklch(0.681 0.162 75.834);
  --chart-4: oklch(0.554 0.135 66.442);
  --chart-5: oklch(0.476 0.114 61.907);
  --sidebar: oklch(0.214 0.009 43.1);
  --sidebar-foreground: oklch(0.986 0.002 67.8);
  --sidebar-primary: oklch(0.795 0.184 86.047);
  --sidebar-primary-foreground: oklch(0.987 0.026 102.212);
  --sidebar-accent: oklch(0.268 0.011 36.5);
  --sidebar-accent-foreground: oklch(0.986 0.002 67.8);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.547 0.021 43.1);
}

@theme inline {
  --font-sans: 'Oxanium Variable', sans-serif;
  --font-heading: 'Manrope Variable', sans-serif;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground bg-radial-[at_top] from-white dark:from-[color-mix(in_oklab,var(--color-yellow-500),black_75%)] to-neutral-200 dark:to-[color-mix(in_oklab,var(--color-yellow-500),black_90%)];
    background-attachment: fixed;
  }
  button:not(:disabled), [role="button"]:not(:disabled) {
    cursor: pointer;
  }
  html {
    @apply font-sans;
  }
}

/* Navbar */
.navbar {
  @apply w-full flex flex-col items-end max-[500px]:items-center px-4;
}

.navbar-container {
  @apply fixed w-fit max-[375px]:w-[calc(100vw-32px)] top-4 max-[500px]:top-auto max-[500px]:bottom-6 z-50 flex gap-x-2 p-2
  bg-white/80 dark:bg-black/80 backdrop-blur-2xl 
  outline-1 outline-black/10 dark:outline-yellow-300/15
  shadow-2xl shadow-black/30 dark:shadow-yellow-400/20;
}

.container {
  @apply max-w-5xl flex flex-col gap-y-10;
}

.card-header {
  @apply w-full min-h-[calc(100vh-300px)] flex flex-col items-center justify-center px-10 mt-17;
}

.card-hero {
  @apply w-full max-w-125 bg-neutral-100 dark:bg-transparent backdrop-blur-xl dark:outline dark:outline-yellow-500/10 shadow-xl dark:shadow-yellow-500/10;
}

.react-activity-calendar__tooltip {
  width: max-content;
  max-width: calc(100vw - 20px);
  padding: 0.2em 0.5em;
  border-radius: 0.25em;
  background-color: hsl(0 0% 10%);
  color: hsl(0 0% 94%);
  font-size: 13px;

  /* See the `withArrow` setting. */
  .react-activity-calendar__tooltip-arrow {
    fill: hsl(0 0% 10%);
  }

  /* Use this instead of a media query - the component theme can be set */
  /* independent of the system color scheme. */
  &[data-color-scheme='dark'] {
    background-color: hsl(0 0% 94%);
    color: hsl(0 0% 6%);

    .react-activity-calendar__tooltip-arrow {
      fill: hsl(0 0% 94%);
    }
  }
}

.react-activity-calendar__tooltip .react-activity-calendar__tooltip-arrow {
  fill: hsl(0 0% 10%);
}

.react-activity-calendar__tooltip[data-color-scheme='dark'] {
  background-color: hsl(0 0% 94%);
  color: hsl(0 0% 6%);
}

.react-activity-calendar__tooltip[data-color-scheme='dark'] .react-activity-calendar__tooltip-arrow {
  fill: hsl(0 0% 94%);
}

.github-calendar {
  width: 100%;
  color: rgb(100 116 139);
}

.dark .github-calendar {
  color: rgb(203 213 225);
}

.github-calendar .react-activity-calendar__scroll-container {
  padding-top: 2px;
}

.github-calendar .react-activity-calendar__calendar {
  max-width: 100%;
}

.github-calendar .react-activity-calendar__legend-month,
.github-calendar .react-activity-calendar__legend-weekday,
.github-calendar .react-activity-calendar__count,
.github-calendar .react-activity-calendar__legend-colors {
  font-family: 'Manrope Variable', sans-serif;
  font-size: 11px;
  font-weight: 600;
}

.github-calendar .react-activity-calendar__footer {
  width: 100%;
  padding-bottom: 0;
}

.github-calendar .react-activity-calendar__legend-colors {
  display: flex !important;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 4px;
  position: relative;
  color: rgb(100 116 139);
}

.github-calendar .react-activity-calendar__legend-colors span:first-of-type {
  position: absolute;
  left: 0;
}

.github-calendar .react-activity-calendar__legend-colors span:last-of-type {
  position: absolute;
  right: 0;
}

.dark .github-calendar .react-activity-calendar__legend-colors {
  color: rgb(203 213 225);
}

.github-calendar .react-activity-calendar__legend-colors svg {
  display: block;
}

.github-calendar .react-activity-calendar__legend-colors span {
  white-space: nowrap;
}

.github-calendar rect[data-level="0"] {
  @apply fill-transparent! stroke-[1px]! stroke-black/20! dark:stroke-yellow-400/20!;
}